{% extends "!layout.html" %}

{%- block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%- endblock %}

{%- block htmltitle %}
  {%- if pagename == 'index' %}
    <title>{{ title|striptags|e }}</title>
  {%- else %}
    {{- super() }}
  {%- endif %}
{%- endblock %}

{%- block extrahead %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7793079-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
{% endblock %}

{% block footer %}
{{ super() }}
    <div class="footer">
      このページはアクセス情報を収集するために <a href="http://analytics.google.com/">Google Analytics</a> を使用してゐます。
    </div>
{% endblock %}
